<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Title</title>
</head>
<body>
<h1>Opret barn</h1>

<form method="Post" th:action="@{/create}">
    <label>Navn:</label>
    <input type="text" th:field="${VentelisteBørn.navn}" required="true" /></br></br>
    <label>Telefon:</label>
    <input type="text" th:field="${VentelisteBørn.telefonnummer}" required="true" /></br></br>
    <label>Adresse:</label>
    <input type="text" th:field="${VentelisteBørn.adresse}" required="true" /></br></br>
    <label>Kontaktperson:</label>
    <input type="text" th:field="${VentelisteBørn.kontaktperson}" required="true" /></br></br>
    <label>Kontaktperson 2:</label>
    <input type="text" th:field="${VentelisteBørn.kontaktperson2}" required="true" /></br></br>
    <label>Meldt ind:</label>
    <input type="text" th:field="${VentelisteBørn.status}" required="true" /></br></br>
    <input type="submit" value="Send" />
</form>

</body>
</html>