<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="ListeCss.css"/>
</head>
<body>
<header>
    <h1>Roskilde frie børnehave</h1>
    <h2>Telefonliste</h2>
    </br>
    </br>
    </br>

    <table width="100%" border="0", id="venteliste">
        <tr>
            <th width="1%"></th>
            <th width="4%">Barnets navn</th>
            <th width="2%">Telefon</th>
            <th width="5%">Addresse</th>
            <th width="5%">Kontaktperson 1</th>
            <th width="5%">Kontaktperson 2</th>
        </tr>
        <tr th:each="boern: ${boern}">
            <td></td>
            <td th:text="${boern.Navn}"/>
            <td th:text="${boern.Telefonnummer}"/>
            <td th:text="${boern.Adresse}"/>
            <td th:text="${boern.Kontaktperson}"/>
            <td th:text="${boern.Kontaktperson2}"/>
        </tr>


    </table>

    </ul>
</header>
</body>
</html>