<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="ListeCss.css"/>
</head>
<body>
<header>
    <h1>Roskilde frie børnehave</h1>
    </br>
    </br>
    </br>

    <table width="100%" border="0", id="venteliste">
        <tr>
            <th width="1%"></th>
            <th width="4%">Barnets navn</th>
            <th width="2%">Telefon</th>
            <th width="5%">Addresse</th>
            <th width="5%">Kontaktperson 1</th>
            <th width="5%">Kontaktperson 2</th>
        </tr>
        <tr>
            <td></td>
            <td>Lasse</td>
            <td>20828824</td>
            <td>Bagsværd Hovedgade</td>
            <td>Mik jens</td>
            <td>Michael Jensen</td>
        </tr>
        <tr>
            <td></td>
            <td>Lasse</td>
            <td>20828824</td>
            <td>Bagsværd Hovedgade</td>
            <td>Mik jens</td>
            <td>Michael Jensen</td>
        </tr>
        <tr>
            <td></td>
            <td>Lasse</td>
            <td>20828824</td>
            <td>Bagsværd Hovedgade</td>
            <td>Mik jens</td>
            <td>Michael Jensen</td>
        </tr>
        <tr>
            <td></td>
            <td>Lasse</td>
            <td>20828824</td>
            <td>Bagsværd Hovedgade</td>
            <td>Mik jens</td>
            <td>Michael Jensen</td>
        </tr>

    </table>

    </ul>
</header>
</body>
</html>