<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="ListeCss.css"/>
</head>
<body>
<header>
    <h1>Roskilde frie børnehave</h1>
    <h2>Telefonliste</h2>
    <a href="create">
        <button>create</button>
    </a>
    </br>
    </br>

    <table width="100%" border="0", id="venteliste">
        <tr>
            <th width="1%"></th>
            <th width="4%">Barnets navn</th>
            <th width="2%">Telefon</th>
            <th width="3%">Addresse</th>
            <th width="5%">Kontaktperson 1</th>
            <th width="5%">Kontaktperson 2</th>
            <th width="2%"></th>
        </tr>
        <tr th:each="mBoern: ${mBoern}">
            <td></td>
            <td th:text="${mBoern.Navn}"/>
            <td th:text="${mBoern.Telefonnummer}"/>
            <td th:text="${mBoern.Adresse}"/>
            <td th:text="${mBoern.Kontaktperson}"/>
            <td th:text="${mBoern.Kontaktperson2}"/>
            <td><a th:href="@{'/edit?id='+${mBoern.id}}">
                <button class="btn-ed btn">edit</button>
            </a>
                <a th:href="@{'/delete?id='+${mBoern.id}}">
                    <button class="btn-ed btn">delete</button>
                </a>
            </td>
        </tr>


    </table>

    </ul>
</header>
</body>
</html>