<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Venteliste</title>
    <link rel="stylesheet" type="text/css" href="ListeCss.css"/>
</head>
<body>
<header>
    <h1>Roskilde frie børnehave</h1>
    <h2>Venteliste</h2>

    <a href="create">
        <button>Opret</button>
    </a>

    <!--<a class="btn" href="create">Link</a>-->

    </br>
    </br>


    <table width="100%" border="0", id="venteliste">
        <tr>
            <th width="1%"></th>
            <th width="4%">Barnets navn</th>
            <th width="2%">Telefon</th>
            <th width="3%">Adresse</th>
            <th width="5%">Kontaktperson 1</th>
            <th width="5%">Kontaktperson 2</th>
            <th width="2%"></th>
        </tr>
        <tr th:each="veBoern: ${veBoern}">
            <td></td>
            <td th:text="${veBoern.Navn}"/>
            <td th:text="${veBoern.Telefonnummer}"/>
            <td th:text="${veBoern.Adresse}"/>
            <td th:text="${veBoern.Kontaktperson}"/>
            <td th:text="${veBoern.Kontaktperson2}"/>
            <td><a th:href="@{'/edit?id='+${veBoern.id}}">
                <button class="btn-ed btn">rediger</button>
            </a>
                <a th:href="@{'/delete?id='+${veBoern.id}}">
                    <button class="btn-ed btn">delete</button>
                </a>
            </td>

        </tr>

    </table>

    </ul>
</header>
</body>
</html>